body{
  width: 100%;
  background-color: #d2c599;
  overflow-x: hidden;
}

/*-----------Contenedor Principal-----------*/
.Contenedor_Principal{
  width: 100%;
  height: 800px;
}

/*-----------------------------------------*/


/*----------------Banner-----------------*/
.banner{
  width: 50%;
  height:300px;
  background-image: url(../img/Banner.PNG);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;

}

/*---------------------------------------*/


/*----------------MENU-------------------*/
.barra_menu{
  box-sizing: border-box;
  margin-top: .3%;
  text-align: center;
  width: 96%;
  height: 8%;
  background-image: url(../img/fondo2.PNG);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  font-family: 'BAKUSHO', cursive;
  font-size: 240%;

}

.afra_div{
 text-decoration: none;
 background-color: #d2c599;
 position: relative;
 display: inline-block;
 right: 20%;
 top: 20%;
 width: 12%;
}

.rope_div{
 position: relative;
 right: 9%;
 top: 20%;
 background-color: #d2c599;
 display: inline-block;
 width: 15%;
}


.getdown_div{
 display: inline-block;
 background-color: #d2c599;
 position: relative;
 top: 20%;
 width: 12%;
 left: 7%;
}

.turban_div{
 display: inline-block;
 background-color: #d2c599;
 position: relative;
 left: 20%;
 top: 20%;
 width: 12%;
}

a{
  text-decoration: none;
  color: #F91611;
}


a:hover{
  color: #81C83A;
}

/*---------------------------------------------*/


/*----------CONTENEDOR SQ----------------*/
.Contenedor_SQ{
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  height: 22%;
  background-color: #562E0A;
}

.img_lupa{
  position: relative;
  top: 10%;
  left: 3%;
  width: 6%;
  height: 40%;
  background-image: url(../img/Lupa2.PNG);
  background-size: cover;
}

.lb1{
  position: relative;
  color: #fff;
  left: 10%;
  bottom: 50px;
  font-family: 'Noteworthy', normal;
  font-size: 270%;
}

.lb2{
  position: relative;
  color: #fff;
  left: 15%;
  bottom: 50px;
  font-family: 'Noteworthy', normal;
  font-size: 200%;
}
.lb3{
  position: relative;
  color: #fff;
  left: 30.5%;
  bottom: 50px;
  font-family: 'Noteworthy', normal;
  font-size: 200%;
}
/*----------------------------------------*/

/*---------AUDIO---------------*/
.Audio_1{
  position: relative;
  display: block;
  top: 3%;
  left: 2%;
}

/*-----------------------------*/



/*----------DIV INFO 1---------------*/
.Info1{
  position: relative;
  top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 18%;
  font-size: 300%;
  font-family: 'Noteworthy', normal;
}


/*----------------------------------*/

/*-------------CARRUSEL---------------*/
.img1{
  width: 960px;
}

.img2{
  width: 1000px;
}

.img3{
  width: 1000px;
}

.img4{
  width: 1000px;
}

.img5{
  width: 1000px;
}

.img6{
  width: 1000px;
}

.img7{
  width: 1000px;
}

.contenedor{
  position: relative;
  top: 10%;
  width: 1000px;
  margin: 30px auto;
  overflow:hidden;
}

.contenedor ul{
  list-style: none;
  width: 2800px;
  display: flex;

  animation: slide 20s infinite alternate;
}


@keyframes slide {
  0% {margin-left: 0px;}
  20% {margin-left: 0px;}

  25% {margin-left: -1000px;}
  45% {margin-left: -1000px;}

  50% {margin-left: -2000px;}
  70% {margin-left: -2000px;}

  75% {margin-left: -3000px;}
  100% {margin-left: -3000px;}
}

/*----------------------------------*/

/*----------DIV INFO 2---------------*/
.Info2{
  position: relative;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 18%;
  font-size: 400%;
  text-align: center;
  font-family: 'BAKUSHO', normal;
}


/*----------------------------------*/

/*----------PIE DE PAG--------------*/
.Piedepag{
  width: 98%;
  height: 200%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FAEACF;
}

/*INFO*/
.Info3{
  box-sizing: border-box;
  width: 98%;
  height: 42%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Noteworthy', normal;
  font-size: 320%;
  text-align: left;

}

/*Encuentranos Div*/
.Div_encuentranosPrinc{
  position: relative;
  width: 99%;
  height: 9%;
  top: 5%;
}

.Div_encuentranos{
  display: inline-block;
  position: relative;
  width: 45%;
  height: 80%;
  top: 10%;
  text-align: center;
  left: 1%;
  background-color: #562E0A;
}

.Div_encuentranos p{
  position: relative;
  font-family: 'Noteworthy', normal;
  font-size: 380%;
  color: #fff;
  bottom: 40%;
  right: 15%;
}
/*-------------------*/


/*REDES*/

.div_redes{
  display:inline-block;
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: 60%;
  bottom: 10%;
}

.icono_gmail{
  position: relative;
  width: 12%;
  height: 100%;
  left: 10%;
}

.icono_insta{
  position: relative;
  width: 12%;
  height: 95%;
  left: 20%;
}

.icono_sc{
  position: relative;
  width: 12%;
  height: 100%;
  left: 30%;
}

.icono_yt{
  position: relative;
  width: 12%;
  height: 100%;
  left: 40%;
}

/*------*/

/*----------------------------------*/


/*---------DIV FOTOS-----------*/
.Divfotos{
  position: relative;
  width: 98%;
  height: 42%;
  margin-left: auto;
  margin-right: auto;
  top: 6%;
  font-family: 'Noteworthy', normal;
  font-size: 130%;
  background-image: url(../img/bannerc2.PNG);
  background-size: cover;
}

.Foto_1{
  position: relative;
  left: 25%;
  top: 25%;
  width: 20%;
  height: 30%;
}

.foton1{
  position: relative;
  left: 4%;
  top: 5%;
}

.Foto_2{
  position: relative;
  left: 47%;
  bottom: 20%;
  width: 20%;
  height: 30%;
}

.foton2{
  position: relative;
  left: 4%;
  top: 5%;
  width: 90%;
}

.Foto_3{
  position: relative;
  left: 70%;
  bottom: 55%;
  width: 20%;
  height: 30%;
}

.foton3{
  position: relative;
  left: 4%;
  top: 5%;
}

.Divfotos p{
  position: relative;
  text-align: center;
  bottom: 10%;
}
/*----------------------------------*/


/*----------FUENTES-------------*/
@font-face {
   font-family: BAKUSHO;
   font-style: normal;
   font-weight: normal;
   src: url(../fonts/BAKUSHO.otf);
}

@font-face {
   font-family: GOTHIC;
   font-style: normal;
   font-weight: normal;
   src: url(../fonts/GOTHIC.TTF);
}

@font-face {
   font-family: Noteworthy;
   font-style: normal;
   font-weight: normal;
   src: url(../fonts/Noteworthy.ttf);
}

@font-face {
   font-family: Berlin Sans;
   font-style: normal;
   font-weight: normal;
   src: url(../fonts/BerlinSans.ttf);
}
/*-----------------------------*/
